@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Inter:wght@400;700&family=Lora:ital,wght@0,400;0,700;1,700&display=swap');

.light {
    --bg-color: #fff;
    --main-color: #2d2d2d;
    --secondary-color: #757575;
    --purple: #A445ED;
    --light-dark: #1F1F1F;
    --white: #fff;
    --search-bg: #F4F4F4;
}
.dark {
    --bg-color: #050505;
    --main-color: #fff;
    --secondary-color: #757575;
    --purple: #A445ED;
    --light-dark: #1F1F1F;
    --white: #fff;
    --search-bg: #1F1F1F;
}

.sans,
.sans input {
    font-family: 'Inter', sans-serif;
}
.mono,
.mono input {
    font-family: 'Inconsolata', monospace;
}
.serif,
.serif input {
    font-family: 'Lora', serif;
}

h1 {
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    font: 400 18px/1.3em 'Inconsolata', monospace;
}
